In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from datetime import date, datetime
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

## select()

In [3]:
# DataFrame.select(*cols)[source]
# Parameters
# cols : str, Column, or list
# column names (string) or expressions (Column). 
#If one of the column names is ‘*’, that column is expanded to include all columns in the current DataFrame.

+------+
|school|
+------+
| ANKYI|
| ANKYI|
| CCAAW|
+------+
only showing top 3 rows

+------+--------+
|school|class_cd|
+------+--------+
| ANKYI|     6OL|
| ANKYI|     ZNS|
| CCAAW|     2B1|
+------+--------+
only showing top 3 rows

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 3 rows

[Stage 4:>                                                          (0 + 1) / 1]

+------+--------+--------+
|school|     loc|class_cd|
+------+--------+--------+
| ANKYI|   Urban|     6OL|
| ANKYI|   Urban|     ZNS|
| CCAAW|Suburban|     2B1|
+------+--------+--------+
only showing top 3 rows

#### Column

Column<'school'>

Column<'school'>

['class_cd', 'school', 'class_std_cnt', 'loc', 'school_type', 'teaching_type']

Column<'unresolvedregex()'>

+------+
|school|
+------+
| ANKYI|
| ANKYI|
| CCAAW|
+------+
only showing top 3 rows

+------+-----------+
|school|school_type|
+------+-----------+
| ANKYI| Non-public|
| ANKYI| Non-public|
| CCAAW| Non-public|
+------+-----------+
only showing top 3 rows

+------+--------+
|school|class_cd|
+------+--------+
| ANKYI|     6OL|
| ANKYI|     ZNS|
| CCAAW|     2B1|
+------+--------+
only showing top 3 rows

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 3 rows

#### Column 연산

- 산술연산 :  +  -  *  /  %
- 비교연산 : <  >  <=  >=  ==  !=
- 논리연산 : &  |

![op-overloading](./img/op_overloading.png)

#### Column 메서드

Column<'school AS `학교`'>

Column<'endswith(school, YI)'>

+-----+---+
| 학교| 반|
+-----+---+
|ANKYI|6OL|
|ANKYI|ZNS|
|CCAAW|2B1|
+-----+---+
only showing top 3 rows

+------+--------------------+--------+-----------------+
|school|endswith(school, YI)|class_cd|class_cd LIKE %L%|
+------+--------------------+--------+-----------------+
| ANKYI|                true|     6OL|             true|
| ANKYI|                true|     ZNS|            false|
| CCAAW|               false|     2B1|            false|
+------+--------------------+--------+-----------------+
only showing top 3 rows

Column<'class_std_cnt ASC NULLS FIRST'>

+------+--------+-------------+
|school|class_cd|class_std_cnt|
+------+--------+-------------+
|  null|     4SZ|         null|
|  null|     5SD|         null|
|  null|     6PP|         null|
+------+--------+-------------+
only showing top 3 rows

## select 연습

DataFrame은 class_df 를 사용합니다

1. 모든 row의  class_cd, school, loc, school_type, teaching_type을 출력하시오.  
   school_type의 컬럼명은 '공립/사립여부' 로 표시합니다.
   
   
2. class_cd, school, scale 을 출력하시오.   
   scale 컬럼은 반의 인원수가 15명 미만이면 small, 15명 이상 25명 미만이면 middle, 25명 이상이면 big 값을 가집니다.
   
   
3. class_cd, school, class_std_cnt를 출력하시오  
   class_std_cnt 컬럼의 값들은 string타입으로 형변환합니다.

In [10]:
from pyspark.sql import functions as F
cdf = class_df

# 모든 row의 class_cd, school, loc, school_type, teaching_type을 출력하시오.
# school_type의 컬럼명은 '공립/사립여부' 로 표시합니다.
# hint : alias()


# class_cd, school, scale 을 출력하시오.
# scale 컬럼은 반의 인원수가 15명 미만이면 small, 15명 이상 25명 미만이면 middle, 25명 이상이면 big 값을 가집니다.
# hint : when()



# class_cd, school, class_std_cnt를 출력하시오
# class_std_cnt 컬럼의 값들은 string타입으로 형변환합니다.
# hint : cast()

+--------+------+--------+-------------+-------------+
|class_cd|school|     loc|공립/사립여부|teaching_type|
+--------+------+--------+-------------+-------------+
|     6OL| ANKYI|   Urban|   Non-public|     Standard|
|     ZNS| ANKYI|   Urban|   Non-public|     Standard|
|     2B1| CCAAW|Suburban|   Non-public| Experimental|
+--------+------+--------+-------------+-------------+
only showing top 3 rows

+--------+------+------+
|class_cd|school| scale|
+--------+------+------+
|     6OL| ANKYI|middle|
|     ZNS| ANKYI|middle|
|     2B1| CCAAW|middle|
+--------+------+------+
only showing top 3 rows

+--------+------+-------------+
|class_cd|school|class_std_cnt|
+--------+------+-------------+
|     6OL| ANKYI|           20|
|     ZNS| ANKYI|           21|
|     2B1| CCAAW|           18|
+--------+------+-------------+
only showing top 3 rows

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: string (nullable = true)

### sql

In [11]:
# sql을 사용해 같은 결과를 받아보기

# dataFrame을 테이블로 등록
class_df.createOrReplaceTempView('class')

# 모든 row의 class_cd, school, loc, school_type, teaching_type을 출력하시오.
# school_type의 컬럼명은 '공립/사립여부' 로 표시합니다.



# class_cd, school, scale 을 출력하시오.
# scale 컬럼은 반의 인원수가 15명 미만이면 small, 15명 이상 25명 미만이면 middle, 25명 이상이면 big 값을 가집니다.



# class_cd, school, class_std_cnt를 출력하시오
# class_std_cnt 컬럼의 값들은 string타입으로 형변환합니다.
# spark built-in-fnc 의 cast()

+--------+------+--------+-------------+-------------+
|class_cd|school|     loc|공립/사립여부|teaching_type|
+--------+------+--------+-------------+-------------+
|     6OL| ANKYI|   Urban|   Non-public|     Standard|
|     ZNS| ANKYI|   Urban|   Non-public|     Standard|
|     2B1| CCAAW|Suburban|   Non-public| Experimental|
+--------+------+--------+-------------+-------------+
only showing top 3 rows

[Stage 16:>                                                         (0 + 1) / 1]

+--------+------+------+
|class_cd|school| scale|
+--------+------+------+
|     6OL| ANKYI|middle|
|     ZNS| ANKYI|middle|
|     2B1| CCAAW|middle|
+--------+------+------+
only showing top 3 rows

+--------+------+-------------+
|class_cd|school|class_std_cnt|
+--------+------+-------------+
|     6OL| ANKYI|           20|
|     ZNS| ANKYI|           21|
|     2B1| CCAAW|           18|
+--------+------+-------------+
only showing top 3 rows

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: string (nullable = true)

## where(), filter()

1. 공립이면서 교육방식이 전문인 데이터를 출력하시오

2. 사립이면서 교육방식이 표준인 데이터를 출력하시오

3. 학교 이름이 V로 시작하는 데이터를 출력하시오

4. 학교 이름이 M로 끝나는 데이터를 출력하시오

5. 학교 이름에 NKY가 포함된 데이터를 출력하시오

6. 반의 학생 수가 15명 이상 24명 이하인 데이터를 출력하시오

7. 학교 이름이 입력되지 않은 데이터들을 출력하시오

In [13]:
class_df.printSchema()

print('공립이면서 교육방식이 전문인 데이터를 출력하시오.')

print('사립이면서 교육방식이 표준 데이터를 출력하시오.')

print('학교 이름이 V로 시작하는 데이터를 출력하시오.')

print('학교 이름이 M로 끝하는 데이터를 출력하시오.')

print('학교 이름에 NKY가 들어가는 데이터를 출력하시오.')

print('반의 학생 수가 15명 이상 24명 이하인 데이터를 출력하시오.')

print('학교 이름이 입력되지 않은 데이터들을 출력하시오')

root
 |-- class_cd: string (nullable = true)
 |-- school: string (nullable = true)
 |-- class_std_cnt: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- school_type: string (nullable = true)
 |-- teaching_type: string (nullable = true)

공립이면서 교육방식이 전문인 데이터를 출력하시오.

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     X6Z| CUQAM|           24|   Urban|     Public| Experimental|
|     PW5| DNQDD|           20|Suburban|     Public| Experimental|
|     ROP| DNQDD|           28|Suburban|     Public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 3 rows

사립이면서 교육방식이 표준 데이터를 출력하시오.

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     PGK| CCAAW|           21|Suburban| Non-public|     Standard|
+--------+------+-------------+--------+-----------+-------------+
only showing top 3 rows

학교 이름이 V로 시작하는 데이터를 출력하시오.
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     CD8| VHDHF|           20|Rural| Non-public| Experimental|
|     J6X| VHDHF|           16|Rural| Non-public|     Standard|
|     KR1| VHDHF|           15|Rural| Non-public| Experimental|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows

[Stage 30:>                                                         (0 + 1) / 1]

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     CD8| VHDHF|           20|Rural| Non-public| Experimental|
|     J6X| VHDHF|           16|Rural| Non-public|     Standard|
|     KR1| VHDHF|           15|Rural| Non-public| Experimental|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows

학교 이름이 Z로 끝하는 데이터를 출력하시오.

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     1Q1| CUQAM|           28|Urban|     Public|     Standard|
|     BFY| CUQAM|           27|Urban|     Public|     Standard|
|     OMI| CUQAM|           28|Urban|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     1Q1| CUQAM|           28|Urban|     Public|     Standard|
|     BFY| CUQAM|           27|Urban|     Public|     Standard|
|     OMI| CUQAM|           28|Urban|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows

학교 이름에 NKY가 들어가는 데이터를 출력하시오.

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     6OL| ANKYI|           20|Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|Urban| Non-public|     Standard|
+--------+------+-------------+-----+-----------+-------------+

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     6OL| ANKYI|           20|Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|Urban| Non-public|     Standard|
+--------+------+-------------+-----+-----------+-------------+

반의 학생 수가 15명 이상 24명 이하인 데이터를 출력하시오.

[Stage 35:>                                                         (0 + 1) / 1]

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 3 rows

학교 이름이 입력되지 않은 데이터들을 출력하시오

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     MDS|  null|           18|Rural| Non-public|     Standard|
|     MDE|  null|           10|Rural| Non-public| Experimental|
|     6PP|  null|         null| null|       null|         null|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows

#### sql

In [22]:
print('공립이면서 교육방식이 전문인 데이터를 출력하시오')

print('사립이면서 교육방식이 표준인 데이터를 출력하시오')

print('학교 이름이 V로 시작하는 데이터를 출력하시오')

print('학교 이름이 M로 끝나는 데이터를 출력하시오')

print('학교 이름에 NKY가 포함된 데이터를 출력하시오')

print('반의 학생 수가 15명 이상 24명 이하인 데이터를 출력하시오')

print('학교 이름이 입력되지 않은 데이터들을 출력하시오')

공립이면서 교육방식이 전문인 데이터를 출력하시오
+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
|     EPS| CCAAW|           20|Suburban| Non-public| Experimental|
|     IQN| CCAAW|           15|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 3 rows

사립이면서 교육방식이 표준인 데이터를 출력하시오

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     1Q1| CUQAM|           28|Urban|     Public|     Standard|
|     BFY| CUQAM|           27|Urban|     Public|     Standard|
|     OMI| CUQAM|           28|Urban|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows

학교 이름이 V로 시작하는 데이터를 출력하시오

[Stage 78:>                                                         (0 + 1) / 1]

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     CD8| VHDHF|           20|Rural| Non-public| Experimental|
|     J6X| VHDHF|           16|Rural| Non-public|     Standard|
|     KR1| VHDHF|           15|Rural| Non-public| Experimental|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows

학교 이름이 M로 끝나는 데이터를 출력하시오

[Stage 79:>                                                         (0 + 1) / 1]

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     1Q1| CUQAM|           28|Urban|     Public|     Standard|
|     BFY| CUQAM|           27|Urban|     Public|     Standard|
|     OMI| CUQAM|           28|Urban|     Public|     Standard|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows

학교 이름에 NKY가 포함된 데이터를 출력하시오

+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     6OL| ANKYI|           20|Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|Urban| Non-public|     Standard|
+--------+------+-------------+-----+-----------+-------------+

반의 학생 수가 15명 이상 24명 이하인 데이터를 출력하시오

[Stage 81:>                                                         (0 + 1) / 1]

+--------+------+-------------+--------+-----------+-------------+
|class_cd|school|class_std_cnt|     loc|school_type|teaching_type|
+--------+------+-------------+--------+-----------+-------------+
|     6OL| ANKYI|           20|   Urban| Non-public|     Standard|
|     ZNS| ANKYI|           21|   Urban| Non-public|     Standard|
|     2B1| CCAAW|           18|Suburban| Non-public| Experimental|
+--------+------+-------------+--------+-----------+-------------+
only showing top 3 rows

학교 이름이 입력되지 않은 데이터들을 출력하시오
+--------+------+-------------+-----+-----------+-------------+
|class_cd|school|class_std_cnt|  loc|school_type|teaching_type|
+--------+------+-------------+-----+-----------+-------------+
|     MDS|  null|           18|Rural| Non-public|     Standard|
|     MDE|  null|           10|Rural| Non-public| Experimental|
|     6PP|  null|         null| null|       null|         null|
+--------+------+-------------+-----+-----------+-------------+
only showing top 3 rows