In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from datetime import date, datetime
from pyspark.sql import *
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [3]:
left_df = spark.createDataFrame([
    ('하명도', 15, date(2022,7,22)),
    ('이제동', 20, date(2021,7,22)),
    ('김명운', 25, date(2020,7,22)),
    ('임요환', 25, date(2020,7,22))
],schema='name string, age int, birth date')

left_df.show()


right_df = spark.createDataFrame([
    ('하명도', 100),
    ('이제동', 90),
    ('김명운', 80),
    ('홍진호', 80)
],schema='name string, score int')

right_df.show()

+------+---+----------+
|  name|age|     birth|
+------+---+----------+
|하명도| 15|2022-07-22|
|이제동| 20|2021-07-22|
|김명운| 25|2020-07-22|
|임요환| 25|2020-07-22|
+------+---+----------+

+------+-----+
|  name|score|
+------+-----+
|하명도|  100|
|이제동|   90|
|김명운|   80|
|홍진호|   80|
+------+-----+

## Join

![join](./img/join.png)

### join 종류

- inner join
- left outer join
- right outer join
- full outer join

In [4]:
# inner join, default
left_df.join(right_df, on='name').show()

+------+---+----------+-----+
|  name|age|     birth|score|
+------+---+----------+-----+
|김명운| 25|2020-07-22|   80|
|이제동| 20|2021-07-22|   90|
|하명도| 15|2022-07-22|  100|
+------+---+----------+-----+

In [6]:
# left join
left_df.join(right_df, on='name', how='left').show()
# right join
left_df.join(right_df, on='name', how='right').show()

+------+---+----------+-----+
|  name|age|     birth|score|
+------+---+----------+-----+
|김명운| 25|2020-07-22|   80|
|이제동| 20|2021-07-22|   90|
|임요환| 25|2020-07-22| null|
|하명도| 15|2022-07-22|  100|
+------+---+----------+-----+

+------+----+----------+-----+
|  name| age|     birth|score|
+------+----+----------+-----+
|김명운|  25|2020-07-22|   80|
|이제동|  20|2021-07-22|   90|
|하명도|  15|2022-07-22|  100|
|홍진호|null|      null|   80|
+------+----+----------+-----+

In [7]:
# full outer
left_df.join(right_df, on='name', how='outer').show()

+------+----+----------+-----+
|  name| age|     birth|score|
+------+----+----------+-----+
|김명운|  25|2020-07-22|   80|
|이제동|  20|2021-07-22|   90|
|임요환|  25|2020-07-22| null|
|하명도|  15|2022-07-22|  100|
|홍진호|null|      null|   80|
+------+----+----------+-----+

In [8]:
# leftsemi == semi
# 교집합, 데이터 결합 x
left_df.join(right_df, on='name', how='leftsemi').show()

+------+---+----------+
|  name|age|     birth|
+------+---+----------+
|김명운| 25|2020-07-22|
|이제동| 20|2021-07-22|
|하명도| 15|2022-07-22|
+------+---+----------+

In [9]:
# leftanti = anti
# 차집합
left_df.join(right_df, on='name', how='leftanti').show()

+------+---+----------+
|  name|age|     birth|
+------+---+----------+
|임요환| 25|2020-07-22|
+------+---+----------+