In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [ ]:
# 데이터마트용 계정 생성
# sqlDeveloper에서 진행
# create user dm_admin IDENTIFIED BY "123qwe!@#QWE";
# grant dwrole to dm_admin;
# grant unlimited tablespace to dm_admin;

In [2]:
from datetime import date, datetime
from pyspark.sql.types import *
from pyspark.sql.functions import *
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt #그래프 패키지 모듈 등록
%matplotlib inline

In [3]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    rc('font', family='NanumGothic')

In [4]:
def cal_std_day(befor_day):   
    x = dt.datetime.now() - dt.timedelta(befor_day)
    year = x.year
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0'+ str(x.day)  
    return str(year)+ '-' +str(month)+ '-' +str(day)

### JDBC

In [6]:
JDBC_DW = {
    'url':'jdbc:oracle:thin:@decorona_high?TNS_ADMIN=/home/big/study/db/Wallet_DECORONA',
    'props':{
        'user':'dw_admin',
        'password':'123qwe!@#QWE'
    }
}
JDBC_DM = {
    'url':'jdbc:oracle:thin:@decorona_high?TNS_ADMIN=/home/big/study/db/Wallet_DECORONA',
    'props':{
        'user':'dm_admin',
        'password':'123qwe!@#QWE'
    }
}

## Load DataMart

### 1. 지역별 단위면적(km)당 인구수와 코로나 확진자 수 데이터 저장

In [8]:
popu = spark.read.jdbc(url=JDBC_DW['url'], table='loc', properties=JDBC_DW['props'])
popu.show(3)

+----+----+----------+------------+
| LOC|AREA|POPULATION|FACILITY_CNT|
+----+----+----------+------------+
|서울| 605|   9736027|        5224|
|부산| 770|   3396109|        1462|
|대구| 883|   2412642|        1015|
+----+----+----------+------------+
only showing top 3 rows

In [9]:
patients = spark.read.jdbc(url=JDBC_DW['url'], table='corona_patients', properties=JDBC_DW['props'])
patients.show(3)

+------+----+---------+-------+-----------+--------+----------+
|cp_idx| LOC|DEATH_CNT|DEF_CNT|LOC_OCC_CNT|QUR_RATE|   STD_DAY|
+------+----+---------+-------+-----------+--------+----------+
|   471|대전|      719| 554551|       2459|   38186|2022-07-30|
|   472|서울|     5263|4589795|      15554|   48266|2022-09-02|
|   473|제주|      206| 308385|       1343|   45568|2022-08-22|
+------+----+---------+-------+-----------+--------+----------+
only showing top 3 rows

In [10]:
pop_patients = popu.join(patients, on='loc') \
                    .select('loc', 
                            ceil(col('population')/col('area')).alias('POPU_DENSITY'),
                            'qur_rate',
                            'std_day') \
                    .orderBy(col('std_day'))
pop_patients.show(3)

+----+------------+--------+----------+
| loc|POPU_DENSITY|qur_rate|   std_day|
+----+------------+--------+----------+
|경남|         321|   35192|2022-07-28|
|대구|        2733|   34103|2022-07-28|
|경북|         141|   32018|2022-07-28|
+----+------------+--------+----------+
only showing top 3 rows

In [13]:
pop_patients.write.jdbc(url=JDBC_DM['url'], table='CO_POPU_DENSITY', mode='append', properties=JDBC_DM['props'])

### 2.  백신접종 완료자와 코로나 확진자 수 데이터 저장

In [14]:
vaccine = spark.read.jdbc(url=JDBC_DW['url'], table='CORONA_VACCINE', properties=JDBC_DW['props'])

In [15]:
vaccine.show(3)

+------+----+----+--------+----------+
|CV_IDX| LOC|V_TH|   V_CNT|   STD_DAY|
+------+----+----+--------+----------+
|   221|경기|  v3| 8678976|2022-09-19|
|   223|경기|  v1|11828253|2022-09-19|
|   224|경기|  v4| 1690737|2022-09-19|
+------+----+----+--------+----------+
only showing top 3 rows

In [16]:
# index=고정할 컬럼, columns=컬럼명으로 만들 컬럼, values=만들 컬럼의 값이 될 컬럼
pd_vaccine = vaccine.to_pandas_on_spark()
pd_vaccine = pd_vaccine.pivot_table(index=['LOC','STD_DAY'], columns='V_TH', values='V_CNT')
pd_vaccine

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

V_TH                       v1             v2            v3            v4
LOC STD_DAY
광주  2022-09-15   1262690.0000   1251019.0000   968067.0000   233610.0000
충북  2022-09-19   1429655.0000   1417023.0000  1106069.0000   278466.0000
세종  2022-09-15    298593.0000    294823.0000   209151.0000    34585.0000
경남  2022-09-15   2883515.0000   2854106.0000  2142110.0000   483703.0000
부산  2022-09-19   2879969.0000   2851084.0000  2134981.0000   490706.0000
세종  2022-09-19    298614.0000    294859.0000   209201.0000    34756.0000
서울  2022-09-19   8340594.0000   8261803.0000  6059101.0000  1233277.0000
대전  2022-09-19   1246205.0000   1233942.0000   907745.0000   194047.0000
서울  2022-09-15   8340502.0000   8261480.0000  6057684.0000  1226070.0000
대구  2022-09-15   2019295.0000   1996343.0000  1402649.0000   259429.0000
경기  2022-09-15  11827822.0000  11711865.0000  8677235.0000  1680362.0000
강원  2022-09-15   1350315.0000   1338931.0000  1062086.0000   269222.0000
제주  2022-09-19    590588.0000    584847.0000   437873.0000    92489.0000
인천  2022-09-19   2570987.0000   2546470.0000  1908118.0000   396595.0000
강원  2022-09-19   1350406.0000   1339041.0000  1062225.0000   270307.0000
충남  2022-09-15   1899475.0000   1881779.0000  1475491.0000   365655.0000
충북  2022-09-15   1429582.0000   1416910.0000  1105875.0000   277332.0000
전북  2022-09-19   1593761.0000   1580614.0000  1284240.0000   371332.0000
경북  2022-09-19   2293383.0000   2269468.0000  1724730.0000   396270.0000
전남  2022-09-15   1654751.0000   1640068.0000  1363212.0000   444061.0000
경남  2022-09-19   2883564.0000   2854203.0000  2142399.0000   485783.0000
울산  2022-09-19    968628.0000    959288.0000   719578.0000   126089.0000
경북  2022-09-15   2293357.0000   2269405.0000  1724517.0000   394769.0000
제주  2022-09-15    590581.0000    584814.0000   437805.0000    92009.0000
전남  2022-09-19   1654752.0000   1640129.0000  1363353.0000   445497.0000
인천  2022-09-15   2570641.0000   2546081.0000  1907586.0000   394343.0000
충남  2022-09-19   1899526.0000   1881853.0000  1475692.0000   367370.0000
부산  2022-09-15   2879898.0000   2850966.0000  2134635.0000   488630.0000
전북  2022-09-15   1593746.0000   1580541.0000  1284133.0000   370187.0000
울산  2022-09-15    968595.0000    959237.0000   719491.0000   124886.0000
대구  2022-09-19   2019308.0000   1996378.0000  1402842.0000   260671.0000
경기  2022-09-19  11828253.0000  11712565.0000  8678976.0000  1690737.0000
광주  2022-09-19   1262711.0000   1251065.0000   968182.0000   234682.0000
대전  2022-09-15   1246228.0000   1233946.0000   907587.0000   193191.0000

In [19]:
# 복합키 풀어주기
pd_vaccine = pd_vaccine.reset_index()
vaccine = pd_vaccine.to_spark()
vaccine.show(3)

+----+----------+------------+------------+------------+-----------+
| LOC|   STD_DAY|          v1|          v2|          v3|         v4|
+----+----------+------------+------------+------------+-----------+
|광주|2022-09-15|1262690.0000|1251019.0000| 968067.0000|233610.0000|
|충북|2022-09-19|1429655.0000|1417023.0000|1106069.0000|278466.0000|
|세종|2022-09-15| 298593.0000| 294823.0000| 209151.0000| 34585.0000|
+----+----------+------------+------------+------------+-----------+
only showing top 3 rows

In [25]:
vac_rate = vaccine.join(popu, on='loc') \
                .join(patients, on='loc') \
                .select('loc',patients.STD_DAY,
                       ceil(col('v1')/col('population') * 100).alias('V1TH_RATE'),
                       ceil(col('v2')/col('population') * 100).alias('V2TH_RATE'),
                       ceil(col('v3')/col('population') * 100).alias('V3TH_RATE'),
                       ceil(col('v4')/col('population') * 100).alias('V4TH_RATE'),
                       'qur_rate') 
    
vac_rate.show(3)

+----+----------+---------+---------+---------+---------+--------+
| loc|   STD_DAY|V1TH_RATE|V2TH_RATE|V3TH_RATE|V4TH_RATE|qur_rate|
+----+----------+---------+---------+---------+---------+--------+
|강원|2022-09-03|       87|       87|       69|       18|   44566|
|강원|2022-08-08|       87|       87|       69|       18|   38615|
|강원|2022-08-22|       87|       87|       69|       18|   42220|
+----+----------+---------+---------+---------+---------+--------+
only showing top 3 rows

In [26]:
vac_rate.write.jdbc(url=JDBC_DM['url'], table='CO_VACCINE', mode='append', properties=JDBC_DM['props'])

### 3. 다중이용시설과 코로나 확진자 수의 상관관계

### 4. 요일별 코로나 확진자 수를 구해보자